.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.fullHeight {
    height: 100vh;
}

.fullWidth {
    width: 100vw;
}

.spaceBetween {
    justify-content: space-between;
}

.border {
    border: 2px solid black;
}

.small {
    height: 2vh;
    width: 2vh;
}

.big {
    height: 3vh;
    width: 5vh;
}

.black {
    background-color: black;
    color: aliceblue;
}

.blue{
    background-color: lightblue;
}

.gray {
    background-color: gray;
}

.lightGray {
    background-color: lightgray;
}

.purple {
    background-color: darkorchid;
}

button {
    height: 10vh;
    width: 16vh;
    border-radius: 5px;
    vertical-align: top;
}

.sienna {
    background-color: sienna;
}

.white {
    background-color: white;
}

.yellow {
    background-color:lightyellow;
}

#bottomButtons {
    vertical-align: bottom;
}