body {
    margin: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

#espressoMenuContainer {
    width: 60vw;
    /*display: block;*/
}

#icedMenuContainer {
    width: 100vh;
}

.inactive{
    display: none;
}

.active {
    display: block;
}



.runningOrder {
    height: 50vh;
    background-color: white;
}

.fullHeight {
    height: 100vh;
}

.fullWidth {
    width: 100vw;
}

.spaceBetween {
    justify-content: space-between;
}

.oval {
    border-radius: 50%;
    background-image: linear-gradient(teal, cyan);
    width: 20vh;
}

.pad {
    margin: 0 0.5vh 0 0;
}



.border {
    border: 2px solid black;
}

.small {
    height: 2vh;
    width: 2vh;
}

.big {
    height: 3vh;
    width: 5vh;
}

.rightButton {
    border-radius: 0 10px 10px 0;
    margin: 2vh 0;
    padding: 2vh;
}

.black {
    
    background-image: linear-gradient(black, gray);
    color: aliceblue;
}

.blue{
    
    background-image: linear-gradient(to bottom, #add8e6, transparent);
}

.cyan{
    background-image: linear-gradient(to bottom, cyan, transparent);
}

.gray {
    background-color: #808080;
}

.lightGray {
    background-color: lightgray;
}

.purple {
    background-image: linear-gradient(to bottom, #af74cc, transparent);
    
}

button,
.empty {
    height: 10vh;
    width: 16vh;
    border-radius: 5px;
    vertical-align: top;
}

.sienna {
    
    background-image: linear-gradient(to bottom, #a0522d, transparent);
}

.white {
    background-color: white;
}

.yellow {
    background-color:lightyellow;
}

#bottomButtons {
    vertical-align: bottom;
}